<div class="main-bookingview__container">
    <h3>Find you tutor</h3>
    <div 
        *ngIf="currStep <= questions.length" 
        class="questionaire__container">
            <app-inputgroup 
                *ngFor="let question of questions, let i = index" 
                title="{{question.text}}" 
                [hidden]="currStep != i"
                (newBlurEvent)="setStep($event, question.key)"
                >
            </app-inputgroup>
    </div>
    <div *ngIf="noResults">No results found, please modify your search.</div>
    <div
        *ngIf="isTutorList"
        class="tutorList__container">
        <app-tutor-list 
            [soughtAfterSubject]="subjectSearched"
            [tutors]="filteredTutors">
        </app-tutor-list>
    </div>
</div>