<div class="input-group">
<form class="example-form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>{{title}}</mat-label>
      <input type="text"
             placeholder="Type to see options"
             aria-label="Number"
             matInput
             [formControl]="inputControl"
             [matAutocomplete]="auto"
             (keyup.enter)="onBlur($event)"
             >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option ? option : 'All' }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
  