<div class="session-main">
  <div class="video-chat-body">

    <div class="session_controls" *ngIf="!startedConnection">
      <button (click)="connect()">Join Session</button>
    </div>

    <div class="session_controls" *ngIf="isSessionEnded">
      <span>Session ended</span>
      <button (click)="rejoin()">rejoin?</button>
    </div>

    <div class="session_controls" *ngIf="startedConnection && !isSessionEnded">
      <span>Session in progress</span>
      <button [disabled]="disableChat" (click)="shareScreen()">Share screen</button>
      <button class="leave-session" (click)="disconnectFromSession()">Leave Session</button>
    </div>

    <div id="video-chat-container" *ngIf="localStream">
      <video class="local-video" autoplay="autoplay" [srcObject]="localStreamClone"></video>
      <div class="remote-video-container">
        <video class="remote-video" autoplay="autoplay" [srcObject]="remoteStream"></video>
      </div> 
    </div>
  </div>
  <app-chat-component class="chat-container" (isConnectionClosed)="disconnectFromSession()" [isDisableChat]="disableChat"></app-chat-component>
</div>