<div class="session-main">
  <div class="video-chat-body">

    <div class="session_controls" *ngIf="!startedConnection">
      <button (click)="connect()">Join Session</button>
    </div>

    <div class="session_controls" *ngIf="isSessionEnded">
      <span>Session ended</span>
      <button (click)="rejoin()">rejoin?</button>
    </div>

    <div class="session_controls" *ngIf="startedConnection && !isSessionEnded">
      <span>Session in progress</span>
      <button *ngIf="!isMobile" [disabled]="disableChat" (click)="shareScreen()">Share screen</button>
      <button *ngIf="isCameraOn" (click)="disbaleVideo()">Turn off camera</button>
      <button *ngIf="!isCameraOn" (click)="enableVideo()">Turn on camera</button>
      <button class="leave-session" (click)="disconnectFromSession()">Leave Session</button>
    </div>

    <div id="video-chat-container" *ngIf="localStream">
      <div class="local-video-container">
        <video *ngIf="isCameraOn && !isLoading.local" class="local-video" autoplay="autoplay" [srcObject]="localStreamClone"></video>
        <mat-spinner *ngIf="isLoading.local"></mat-spinner>
      </div>
      <div class="remote-video-container">
        <mat-spinner *ngIf="isLoading.remote"></mat-spinner>
        <video *ngIf="!isLoading.remote" class="remote-video" autoplay="autoplay" [srcObject]="remoteStream"></video>
      </div> 
      <button class="toggle-chat-button" *ngIf="isMobile" [class.isChatShowing]="isChatShowing">
        <mat-icon (click)="toggleChat()" aria-hidden="false" aria-label="chat icon">{{!isChatShowing ? 'chat' : 'close'}}</mat-icon>
      </button>
    </div>
  </div>
  <app-chat-component class="chat-container" [class.openChat]="isChatShowing" (isConnectionClosed)="disconnectFromSession()" [isDisableChat]="disableChat"></app-chat-component>
</div>