.session-main {
  width: 100%;
  height: 90%;
  display: flex;

  .video-chat-body {
    width: 80%;
    height: 100%;
  }

  .session_controls {
    border-bottom: 1px solid black;
    height: 40px;
    padding: 12px 24px;
    
    h1 {
      cursor: pointer;
    }
  }

  .chat-container {
    width: 20%;
    height: 100%;
  }

  #video-chat-container {
    width: 100%;
    background-color: black;
  }

  .local-video {
    position: absolute;
    height: 15%;
    width: 15%;
    bottom: 0px;
    object-fit: cover;
  }

  .remote-video-container{
    position: absolute;
    width: 80%;
    height: 90%;
    z-index: -1;

    .remote-video {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      bottom: 0px;
      object-fit: cover;
    }
  }
  #disconnect-btn {
      position: absolute;
      top: 100px;
  }
}

