.session-main {
  width: 100%;
  height: 90%;
  display: flex;

  .video-chat-body {
    width: 80%;
    height: 100%;
  }

  .session_controls {
    border-bottom: 1px solid black;
    height: 40px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    
    span {
      font-size: 20px;
      cursor: pointer;
      margin-bottom: none;
      margin-right: 20px;
    }

    button {
      font-size: 16px;
      padding: 4px 8px;
      color: darkblue;
      border: 1px solid darkblue;
      border-radius: 3px;
      background: #fff;
      margin-left: 20px;

      &.leave-session {
        margin-left: auto;
        color: darkred;
        border-color: darkred;
      }
    }
  }

  .chat-container {
    width: 20%;
    height: 100%;
  }

  #video-chat-container {
    width: 100%;
    background-color: black;
  }

  .local-video-container {
    position: absolute;
    height: 15%;
    width: 15%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .local-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .remote-video-container{
    position: absolute;
    width: 80%;
    height: 90%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;

    .remote-video {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      bottom: 0px;
      object-fit: cover;
    }
  }
  #disconnect-btn {
      position: absolute;
      top: 100px;
  }
}

