.book-a-lesson_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .inputgroup {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;

        input {
            margin: 8px 0 12px 0;
        } 
    }

    button {
        max-width: 50%;
        align-self: flex-end;
        border-radius: 3px;
        border: 1px solid lightgray;
        background-color: white;
    }
}